<section class="card register">
	<form name="myform">

		<div class="textintro">
			<h1>Register</h1>
			<h2>{{message}}</h2>
			<h3>To access site features</h3>
			
		</div>

		<fieldset>
			<input type="firstname" name="firstname" placeholder="enter your first name">
			<input type="lastname" name="lastname" placeholder="enter your lastname">
			<input type="email" name="email" placeholder="enter your email">
			<input type="password" name="password" placeholder="enter your password">
		</fieldset>

		<button type="submit" class="btn">Register
		</button>

		<p>or <a href="#/login">login</a></p>

	</form>
</section>